services:
  vault-service:
    build: .
    networks:
      - shared-network
      - vaultdb-network
    ports:
      - "6020:6020"
    container_name: vault-service
    depends_on:
      - vault-db
    environment:
      - SPRING_APPLICATION_NAME=${SPRING_APPLICATION_NAME}
      - SERVER_PORT=${SERVER_PORT}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_DRIVER=${SPRING_DATASOURCE_DRIVER}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=${SPRING_JPA_HIBERNATE_DDL_AUTO}
      - SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=${SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL}
      - SPRING_JPA_DATABASE=${SPRING_JPA_DATABASE}
      - SPRING_JPA_DATABASE_PLATFORM=${SPRING_JPA_DATABASE_PLATFORM}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - ACCESS_SECRET_KEY=${ACCESS_SECRET_KEY} # Integration line: Auth
      - SERVICE_SECRET_VAULT=${SERVICE_SECRET_VAULT} # Integration line: Auth
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:6020/api/vault/health" ]
      interval: 10s
      timeout: 5s
      retries: 20
  vault-db:
    image: 'postgres:13.1-alpine'
    container_name: vault-db
    networks:
      - vaultdb-network
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
networks:
  vaultdb-network:
    external: true
  shared-network:
    external: true